h1,
h2,
h3,
p {
font-family: "Helvetica", sans-serif;
};

#title{
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}
h1{
background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
font-size: 100px;
text-align: center;
color:khaki;
}

.items h2{
    font-size: 32px;
    color: white;
}

#brushes{
    background-color: aqua;
}

#frames{
    background-color: blueviolet;
}

#paint{
    background-color: cadetblue;
}

.price{
    font-weight: bold;
    color: blue;
}